tmp/DBQ1.5.iepd/XMLSchemas/subset/terminology/dbq_Terminology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dbq_term="http://vler.va.gov/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.0/dbq_Terminology"
            xmlns:i="http://niem.gov/niem/appinfo/2.0"
            targetNamespace="http://vler.va.gov/schemas/health/clinicalDocuments/clinicalAssessments/cpExams/1.0/dbq_Terminology"
            version="0.1">
    <xsd:annotation>
        <xsd:documentation>This schema contains various code lists and terminology use on DBQ forms</xsd:documentation>
        <xsd:appinfo>
            <i:ConformantIndicator>true</i:ConformantIndicator>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../niem/appinfo/2.0/appinfo.xsd"/>
    <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../niem/structures/2.0/structures.xsd"/>
    <xsd:simpleType name="DigitsOfHandCodeSimpleType">
        <xsd:annotation>
            <xsd:documentation>The codes used to identify the digits of the hand</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="1D">
                <xsd:annotation>
                    <xsd:documentation>Thumb</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="2D">
                <xsd:annotation>
                    <xsd:documentation>Index finger</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="3D">
                <xsd:annotation>
                    <xsd:documentation>Long finger</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="4D">
                <xsd:annotation>
                    <xsd:documentation>Ring finger</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="5D">
                <xsd:annotation>
                    <xsd:documentation>Little finger</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="DigitsOfHandCodeType">
        <xsd:annotation>
            <xsd:documentation>The codes used to identify the digits of the hand</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dbq_term:DigitsOfHandCodeSimpleType">
                <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="LateralLocationIndicatorCodeSimpleType">
        <xsd:annotation>
            <xsd:documentation>Identifies the side (right, left, or both) where the subject information applies
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="Left">
                <xsd:annotation>
                    <xsd:documentation>Left side</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Right">
                <xsd:annotation>
                    <xsd:documentation>Right side</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Both">
                <xsd:annotation>
                    <xsd:documentation>Both sides</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="LateralLocationIndicatorCodeType">
        <xsd:annotation>
            <xsd:documentation>Identifies the side (right, left, or both) where the subject information applies
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dbq_term:LateralLocationIndicatorCodeSimpleType">
                <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="ReflexRatingCodeSimpleType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe the results of checking a reflex</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="0">
                <xsd:annotation>
                    <xsd:documentation>Absent</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="1+">
                <xsd:annotation>
                    <xsd:documentation>Hypoactive</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="2+">
                <xsd:annotation>
                    <xsd:documentation>Normal</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="3+">
                <xsd:annotation>
                    <xsd:documentation>Hyperactive without clonus</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="4+">
                <xsd:annotation>
                    <xsd:documentation>Hyperactive with clonus</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ReflexRatingCodeType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe the results of checking a reflex</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dbq_term:ReflexRatingCodeSimpleType">
                <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="SensorySensationCodeSimpleType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe sensation to light touch</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="Normal">
                <xsd:annotation>
                    <xsd:documentation>Normal</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Decreased">
                <xsd:annotation>
                    <xsd:documentation>Decreased</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Absent">
                <xsd:annotation>
                    <xsd:documentation>Absent</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="SensorySensationCodeType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe sensation to light touch</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dbq_term:SensorySensationCodeSimpleType">
                <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="SeverityDescriptorCodeSimpleType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe the severity of signs or symptoms</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="Mild">
                <xsd:annotation>
                    <xsd:documentation>Mild</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Moderate">
                <xsd:annotation>
                    <xsd:documentation>Moderate</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Severe">
                <xsd:annotation>
                    <xsd:documentation>Severe</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="SeverityDescriptorCodeType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe the severity of signs or symptoms</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dbq_term:SeverityDescriptorCodeSimpleType">
                <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:simpleType name="StrengthScaleCodeSimpleType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe the strength of muscular movement or resistance
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="Normal">
                <xsd:annotation>
                    <xsd:documentation>Normal</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Mild">
                <xsd:annotation>
                    <xsd:documentation>Mild</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Moderate">
                <xsd:annotation>
                    <xsd:documentation>Moderate</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Severe">
                <xsd:annotation>
                    <xsd:documentation>Severe</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Complete Paralysis">
                <xsd:annotation>
                    <xsd:documentation>Complete Paralysis</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="StrengthScaleCodeType">
        <xsd:annotation>
            <xsd:documentation>The codes used to describe the strength of muscular movement or resistance
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="dbq_term:StrengthScaleCodeSimpleType">
                <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>
