XMLSchemas/subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1"
            xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0"
            xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
    <xsd:annotation>
        <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components. The identities for U and C
            components in Core are maintained with metadata.
        </xsd:documentation>
        <xsd:appinfo>
            <i:ConformantIndicator>true</i:ConformantIndicator>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
    <xsd:import schemaLocation="../../fbi/2.0/fbi.xsd" namespace="http://niem.gov/niem/fbi/2.0"/>
    <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
    <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>


    <xsd:element name="RoleOf" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A property of a role object. This specifies the base object, of which the role object is
                a function.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RoleOfItemReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
        <xsd:annotation>
            <xsd:documentation>An entity of whom the role object is a function.</xsd:documentation>
            <xsd:appinfo>
                <i:ReferenceTarget i:name="ItemType"/>
                <i:Base i:name="RoleOf"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RoleOfOrganizationReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
        <xsd:annotation>
            <xsd:documentation>An organization of whom the role object is a function.</xsd:documentation>
            <xsd:appinfo>
                <i:ReferenceTarget i:name="OrganizationType"/>
                <i:Base i:name="RoleOf"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RoleOfPersonReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
        <xsd:annotation>
            <xsd:documentation>A person of whom the role object is a function.</xsd:documentation>
            <xsd:appinfo>
                <i:ReferenceTarget i:name="PersonType"/>
                <i:Base i:name="RoleOf"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OrganizationReference" type="s:ReferenceType">
        <xsd:annotation>
            <xsd:documentation>A unit which conducts some sort of business or operations.</xsd:documentation>
            <xsd:appinfo>
                <i:ReferenceTarget i:name="OrganizationType"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FacilityReference" type="s:ReferenceType">
        <xsd:annotation>
            <xsd:documentation>A building, place, or structure that provides a particular service.</xsd:documentation>
            <xsd:appinfo>
                <i:ReferenceTarget i:name="FacilityType"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="ActivityType">
        <xsd:annotation>
            <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ActivityCategoryText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ActivityDateRepresentation" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ActivityName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ActivityDisposition" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AmountType">
        <xsd:annotation>
            <xsd:documentation>A data type for an amount of money.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="niem-xsd:decimal">
                <xsd:attribute ref="nc:currencyText" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="AssociationType">
        <xsd:annotation>
            <xsd:documentation>A data type for a connection, relationship, or involvement somehow linking people and/or
                things together.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:AssociationBeginDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:AssociationEndDate" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BinaryType">
        <xsd:annotation>
            <xsd:documentation>A data type for a digital representation of an object encoded in a binary format.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:BinaryID" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryAvailableLocationText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryAvailableIndicator" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryObject" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryCaptureDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryCapturer" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryFormatID" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryFormatStandardName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryLocationURI" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinarySizeValue" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:BinaryCategoryText" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ContactInformationType">
        <xsd:annotation>
            <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ContactEntity" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ContactEntityDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ContactResponder" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DateRangeType">
        <xsd:annotation>
            <xsd:documentation>A data type for a period of time.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:StartDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DateType">
        <xsd:annotation>
            <xsd:documentation>A data type for a calendar date.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DispositionType">
        <xsd:annotation>
            <xsd:documentation>A data type for a result or outcome that is the product of handling, processing, or
                finalizing something.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DocumentType">
        <xsd:annotation>
            <xsd:documentation>A data type for a paper or electronic document.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:DocumentCreationDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:DocumentDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:DocumentIdentification" minOccurs="1" maxOccurs="1"/>
                    <xsd:element ref="nc:DocumentStatus" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:DocumentTitleText" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="EntityType">
        <xsd:annotation>
            <xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and
                responsibilities.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="5000"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FacilityDocumentAssociationType">
        <xsd:annotation>
            <xsd:documentation>A data type for an association between a facility and a document.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="AssociationType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:AssociationType">
                <xsd:sequence>
                    <xsd:element ref="nc:FacilityReference" minOccurs="0" maxOccurs="5000"/>
                    <xsd:element ref="nc:DocumentReference" minOccurs="0" maxOccurs="5000"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FacilityImageAssociationType">
        <xsd:annotation>
            <xsd:documentation>A data type for an association between a facility and an image.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="AssociationType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:AssociationType">
                <xsd:sequence>
                    <xsd:element ref="nc:FacilityReference" minOccurs="0" maxOccurs="5000"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FacilityPersonAssociationType">
        <xsd:annotation>
            <xsd:documentation>A data type for an association between a facility and a person.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="AssociationType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:AssociationType">
                <xsd:sequence>
                    <xsd:element ref="nc:FacilityReference" minOccurs="0" maxOccurs="5000"/>
                    <xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="5000"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FacilityType">
        <xsd:annotation>
            <xsd:documentation>A data type for a building, place, or structure that provides a particular service.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:FacilityIdentification" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:FacilityName" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="IdentificationType">
        <xsd:annotation>
            <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:IdentificationEffectiveDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:IdentificationStatus" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ImageType">
        <xsd:annotation>
            <xsd:documentation>A data type for a picture or visual representation of something.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="BinaryType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:BinaryType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ItemType">
        <xsd:annotation>
            <xsd:documentation>A data type for an article or thing.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="MeasureType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:MeasureType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MeasureRangeValueType">
        <xsd:annotation>
            <xsd:documentation>A data type for a measurement range.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MeasureType">
        <xsd:annotation>
            <xsd:documentation>A data type for a measurement.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MedicalConditionType">
        <xsd:annotation>
            <xsd:documentation>A data type for a state of health, on-going or present.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:MedicalConditionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:MedicalConditionCauseText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:MedicalConditionDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:MedicalConditionPresentIndicator" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:MedicalConditionSeverityText" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="NonNegativeDecimalSimpleType">
        <xsd:annotation>
            <xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="NonNegativeDecimalType">
        <xsd:annotation>
            <xsd:documentation>A data type for a decimal value with a minimum value of 0.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="nc:NonNegativeDecimalSimpleType">
                <xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="NumericType">
        <xsd:annotation>
            <xsd:documentation>A data type for a number value.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="decimal"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="niem-xsd:decimal"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="OrganizationType">
        <xsd:annotation>
            <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PersonAssociationType">
        <xsd:annotation>
            <xsd:documentation>A data type for an association between people.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="AssociationType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:AssociationType">
                <xsd:sequence>
                    <xsd:element ref="nc:PersonReference" minOccurs="0" maxOccurs="5000"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PersonNameTextType">
        <xsd:annotation>
            <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="ProperNameTextType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="nc:ProperNameTextType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="PersonNameType">
        <xsd:annotation>
            <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonMaidenName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
                <xsd:attribute ref="nc:personNameCommentText" use="optional"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PersonType">
        <xsd:annotation>
            <xsd:documentation>A data type for a human being.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:PersonAgeMeasure" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonMedicalCondition" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ProperNameTextType">
        <xsd:annotation>
            <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or
                addressed.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="TextType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="nc:TextType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="QuantityType">
        <xsd:annotation>
            <xsd:documentation>A data type for a count or tally.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="NumericType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="nc:NumericType"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="StatusType">
        <xsd:annotation>
            <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="s:ComplexObjectType">
                <xsd:sequence>
                    <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TangibleItemType">
        <xsd:annotation>
            <xsd:documentation>A data type for a physical object.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="ItemType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:ItemType">
                <xsd:sequence>
                    <xsd:element ref="nc:ItemAgeMeasure" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemBinary" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemBrandName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemCategory" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemColor" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemHeightMeasure" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemImage" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemLengthMeasure" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemMakeName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemModelName" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemModelYearDate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemQuantity" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemSizeDescriptionText" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemStyle" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemWeightMeasure" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="nc:ItemWidthMeasure" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="TextType">
        <xsd:annotation>
            <xsd:documentation>A data type for a character string.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="niem-xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TimeMeasureType">
        <xsd:annotation>
            <xsd:documentation>A data type for a measurement of a quantity of time.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="MeasureType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:MeasureType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="WeightMeasureType">
        <xsd:annotation>
            <xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="MeasureType"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="nc:MeasureType"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:attribute name="currencyText" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>A unit of money or exchange.</xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="personNameCommentText" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>A comment about a kind of name for a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:element name="ActivityCategoryText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A kind of activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation"
                 nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date of an activity.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="ActivityDateRepresentation"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityDateRepresentation" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A date an activity occurs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description of an activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityDisposition" type="nc:DispositionType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A result or outcome of an activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An identification that references an activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityName" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A name of an activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityReasonText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A reason for an activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ActivityStatus" type="nc:StatusType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A status of an activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AssociationBeginDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date an association begins.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AssociationEndDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date an association ends.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Attachment" type="nc:BinaryType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A binary attachment to a report or document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryAvailableLocationText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A physical or digital location of a binary object.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryObject" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A binary encoding of data.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A binary encoding of data.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="BinaryObject"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryAvailableIndicator" type="niem-xsd:boolean" nillable="true">
        <xsd:annotation>
            <xsd:documentation>True if a binary is available; false if it is not.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryCapturer" type="nc:EntityType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An entity which captured or created a binary object.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryID" type="niem-xsd:string" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An identifier that references a binary object.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryFormatID" type="niem-xsd:string" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An identifier for a file format or content type of a binary object.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryCaptureDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date on which a binary object is captured or created.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryCategoryText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A kind of object that has been encoded.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description of a binary object.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryFormatStandardName" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A name of a standard or protocol used to classify binary content.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinaryLocationURI" type="niem-xsd:anyURI" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A URL or file reference of a binary object.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BinarySizeValue" type="nc:NonNegativeDecimalType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A size of a binary object in kilobytes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CalendarDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A calendar date.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CommentText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A remark, explanation, or observation.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContactEntity" type="nc:EntityType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An entity that may be contacted by using the given contact information.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContactEntityDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description, title or function of a person with the given contact information.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContactInformation" type="nc:ContactInformationType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description of the methods available to contact a person or organization.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContactMeans" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A means of contacting someone.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContactResponder" type="nc:PersonType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A third party person who answers a call and connects or directs the caller to the
                intended person.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A full date.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="DateRepresentation"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DateRepresentation" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A representation of a date.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A full date and time.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="DateRepresentation"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DispositionDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a disposition occurred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Document" type="nc:DocumentType">
        <xsd:annotation>
            <xsd:documentation>A paper or electronic document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentCoverage" abstract="true">
        <xsd:annotation>
            <xsd:documentation>An extent or scope of the content of the resource.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentCoverageTextDate" type="nc:DateType" substitutionGroup="nc:DocumentCoverage"
                 nillable="true">
        <xsd:annotation>
            <xsd:documentation>An extent or scope of the content of the resource.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="DocumentCoverage"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentCreationDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a document was created.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description of the content of a document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentEffectiveDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date the information in a document takes effect.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentExpirationDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a document should be removed from a registry or index.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentFiledDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a document was filed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentification" type="nc:IdentificationType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An identification that references a document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentInformationCutOffDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date after which contributions to the content of a document will no longer be
                accepted.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentLastModifiedDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a document was last changed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentPostDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a document is posted to an information system or network.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentPublicationDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date of the first public dissemination of the content in any media.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentReceivedDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a transmitted document was received.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentReference" type="s:ReferenceType">
        <xsd:annotation>
            <xsd:documentation>A paper or electronic document.</xsd:documentation>
            <xsd:appinfo>
                <i:ReferenceTarget i:name="DocumentType"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentStatus" type="nc:StatusType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A status of a document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentTitleText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A name given to a document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EffectiveDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date that information take effect.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EndDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An end date.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation">
        <xsd:annotation>
            <xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="EntityRepresentation"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation">
        <xsd:annotation>
            <xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="EntityRepresentation"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EntityRepresentation" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ExpirationDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date after which information is no longer valid.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Facility" type="nc:FacilityType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A building, place, or structure that provides a particular service.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FacilityIdentification" type="nc:IdentificationType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An identification assigned to a facility.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FacilityName" type="nc:ProperNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A name of a facility.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A value that identifies something.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationCategory" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A kind of identification.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description of a kind of identification.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationEffectiveDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date an identification takes effect.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date after which an identification is no longer valid.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A person, organization, or locale which issues an identification.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationStatus" type="nc:StatusType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A status of an identification.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationJurisdiction" abstract="true">
        <xsd:annotation>
            <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdentificationJurisdictionText" type="nc:TextType"
                 substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="IdentificationJurisdiction"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemAgeMeasure" type="nc:TimeMeasureType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An age of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemBinary" type="nc:BinaryType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A binary representation of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemBrandName" type="nc:ProperNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A distinctive name that identifies a manufacturer of a property item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemCategory" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A kind of item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemColor" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A color of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemHeightMeasure" type="nc:LengthMeasureType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A measurement of the height of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemImage" type="nc:ImageType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A binary representation of an image of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemLengthMeasure" type="nc:LengthMeasureType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A measurement of the length of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemMakeName" type="nc:ProperNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A name of the manufacturer that produced an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemModelName" type="nc:ProperNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A name of a specific design or kind of item made by a manufacturer.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemModelYearDate" type="niem-xsd:gYear" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A year in which an item was manufactured or produced.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemQuantity" type="nc:QuantityType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A count of the individual units which make up an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemSizeDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description of the size or physical dimensions of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemStyle" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A style of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemWeightMeasure" type="nc:WeightMeasureType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A measurement of the weight of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ItemWidthMeasure" type="nc:LengthMeasureType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A measurement of the width of an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A name of a city or town.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationState" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState"
                 nillable="true">
        <xsd:annotation>
            <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.
            </xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="LocationState"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MedicalConditionCauseText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A trigger that can initiate the onset of a medical condition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MedicalConditionDescriptionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A description of a medical condition.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MedicalConditionPresentIndicator" type="niem-xsd:boolean" nillable="true">
        <xsd:annotation>
            <xsd:documentation>True if a medical condition currently exists; false otherwise.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MedicalConditionSeverityText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A degree to which a medical condition is affecting a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MedicalConditionText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A state of health, on-going or present.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Person" type="nc:PersonType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A human being.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonAgeMeasure" type="nc:TimeMeasureType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A measurement of the age of a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a person was born.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonDeathDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date a person died or was declared legally dead.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A complete name of a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A first name of a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonMaidenName" type="nc:PersonNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>An original surname of a person before changed by marriage.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonMedicalCondition" type="nc:MedicalConditionType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A state of health for a person, on-going or present.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A middle name of a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A title or honorific used by a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A term appended after the family name that qualifies the name.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A unique reference to a living person; assigned by the United States Social Security
                Administration.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonReference" type="s:ReferenceType">
        <xsd:annotation>
            <xsd:documentation>A human being.</xsd:documentation>
            <xsd:appinfo>
                <i:ReferenceTarget i:name="PersonType"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonSex" abstract="true">
        <xsd:annotation>
            <xsd:documentation>A gender or sex of a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonSexCode" type="fbi:SEXCodeType" substitutionGroup="nc:PersonSex" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A gender or sex of a person.</xsd:documentation>
            <xsd:appinfo>
                <i:Base i:name="PersonSex"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A last name or family name of a person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StartDate" type="nc:DateType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A date on which something begins.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StatusText" type="nc:TextType" nillable="true">
        <xsd:annotation>
            <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>
